Repository NVIDIA/cuda-quantum, pull requests merged in 2023-11, with the labels that each got.

#844 Re-enable diagnostics for invalid kernel argument types.
  include/cudaq/Frontend/nvqpp/ASTBridge.h
  lib/Frontend/nvqpp/ConvertDecl.cpp
  lib/Frontend/nvqpp/ConvertType.cpp
  test/AST-error/kernel_invalid_argument-1.cpp
  test/AST-error/kernel_invalid_argument-2.cpp
  test/AST-error/kernel_invalid_argument-3.cpp
  test/AST-error/kernel_invalid_argument-4.cpp
Labels: bug fix

#836 Implement std::reverse on std::vector
  include/cudaq/Optimizer/Dialect/CC/CCOps.td
  lib/Frontend/nvqpp/ConvertDecl.cpp
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Optimizer/Dialect/CC/CCOps.cpp
  test/AST-Quake/reverse.cpp
  test/AST-Quake/vector_front_back.cpp
Labels: enhancement

#833 Add ranged for statement support over cudaq::qreg.
  lib/Frontend/nvqpp/ConvertStmt.cpp
  test/AST-Quake/ranged_for_qreg.cpp
Labels: enhancement

#852 Fix compiler crash when casting from floating to boolean
  lib/Frontend/nvqpp/ConvertExpr.cpp
  test/AST-Quake/cast.cpp
Labels: bug fix

#837 Incorporate new qubit-mapping pass for IQM backends
  cmake/AddCUDAQ.cmake
  docs/sphinx/examples/cpp/providers/iqm.cpp
  lib/Optimizer/CodeGen/TranslateToIQMJson.cpp
  lib/Optimizer/Transforms/ObserveAnsatz.cpp
  python/tests/compiler/adjoint.py
  python/tests/compiler/control.py
  python/tests/compiler/measure.py
  python/tests/compiler/swap.py
  runtime/common/ServerHelper.h
  runtime/cudaq/builder/kernel_builder.cpp
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.cpp
  runtime/cudaq/platform/default/rest/helpers/iqm/Adonis.txt
  runtime/cudaq/platform/default/rest/helpers/iqm/Apollo.txt
  runtime/cudaq/platform/default/rest/helpers/iqm/CMakeLists.txt
  runtime/cudaq/platform/default/rest/helpers/iqm/IQMServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/iqm/iqm.config
  runtime/nvqir/CircuitSimulator.h
  test/NVQPP/bug_qubit.cpp
  test/NVQPP/cudaq_observe.cpp
  test/NVQPP/load_value.cpp
  test/NVQPP/qspan_slices.cpp
  test/Target/IQM/for_loop.cpp
  test/Target/IQM/z_gate.cpp
  test/Transforms/mapping_phased_rx.qke
  unittests/backends/iqm/IQMTester.cpp
Labels: enhancement

#859 Fix clang-format script to exclude targettests.
  scripts/run_clang_format.sh
Labels: build

#856 [NFC] Reorganization of the nightly target tests (part 2)
  .github/workflows/integration_tests.yml
  test/NVQPP/integration/README.txt
  test/NVQPP/integration/bug_qubit.cpp
  test/NVQPP/integration/callable_kernel_arg.cpp
  test/NVQPP/integration/graph_coloring-1.cpp
  test/NVQPP/integration/graph_coloring.cpp
  test/NVQPP/integration/if_jit.cpp
  test/NVQPP/integration/load_value.cpp
  test/NVQPP/integration/qspan_slices.cpp
  test/NVQPP/integration/sudoku_2x2-1.cpp
  test/NVQPP/integration/sudoku_2x2-bit_names.cpp
  test/NVQPP/integration/sudoku_2x2-reg_name.cpp
  test/NVQPP/integration/sudoku_2x2.cpp
  test/NVQPP/integration/swap_gate.cpp
  test/NVQPP/integration/test-int8_t.cpp
  test/NVQPP/integration/test-int8_t_free_func.cpp
  test/NVQPP/integration/test-observe.cpp
  test/NVQPP/integration/testConditionalSample.cpp
  test/NVQPP/integration/variable_size_qreg.cpp
Labels: build

#862 Fix bug: use the scaled size for total length of buffer to copy.
  lib/Optimizer/Builder/Intrinsics.cpp
Labels: bug fix

#816 Initial hardware documentation for OQC
  .github/workflows/config/spelling_allowlist.txt
  docs/sphinx/using/hardware.rst
Labels: documentation

#876 Make C++ ASTBridge specification adherent for operation broadcasting
  include/cudaq/Optimizer/Builder/Factory.h
  include/cudaq/Optimizer/CodeGen/QIRFunctionNames.h
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Optimizer/Builder/Factory.cpp
  lib/Optimizer/CodeGen/LowerToQIR.cpp
  runtime/nvqir/NVQIR.cpp
  test/AST-Quake/control_flow.cpp
  test/AST-Quake/if.cpp
  test/AST-Quake/to_qir.cpp
  test/Quake-QIR/veq_or_qubit_control_args.qke
  unittests/backends/quantinuum/QuantinuumTester.cpp
  unittests/integration/builder_tester.cpp
Labels: bug fix, breaking change

#883 Fix publishing failures by reducing size of test
  docs/sphinx/examples/cpp/algorithms/bernstein_vazirani.cpp
Labels: build

#899 Adding documentation about default target and the environment variable to override it
  docs/sphinx/examples/cpp/basics/cuquantum_backends.cpp
  docs/sphinx/install.rst
  docs/sphinx/using/cpp.rst
  docs/sphinx/using/simulators.rst
Labels: documentation

#917 Add cudaq_observe.cpp to nightly OQC tests
  targettests/oqc/cudaq_observe.cpp
  targettests/oqc/readme.txt
Labels: maintenance

#916 [NFC] Move a transformation pass.
  include/cudaq/Optimizer/CodeGen/Passes.td
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/CodeGen/CMakeLists.txt
  lib/Optimizer/Transforms/CMakeLists.txt
  lib/Optimizer/Transforms/RefToVeqAlloc.cpp
Labels: maintenance

#919 [NFC] Code maintenance.
  include/cudaq/Optimizer/Builder/Factory.h
  include/cudaq/Optimizer/Builder/Intrinsics.h
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Optimizer/CodeGen/LowerToQIR.cpp
  lib/Optimizer/Transforms/DecompositionPatterns.cpp
Labels: maintenance

#853 Add new pass, linear-ctrl-form.
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/Transforms/CMakeLists.txt
  lib/Optimizer/Transforms/LinearCtrlRelations.cpp
  lib/Optimizer/Transforms/LoopUnroll.cpp
  lib/Optimizer/Transforms/PruneCtrlRelations.cpp
  test/Quake/linear_control.qke
Labels: enhancement

#894 Documentation updates for 0.5 release
  docs/sphinx/using/cudaq/generic_functions.rst
  docs/sphinx/using/cudaq/kernel.rst
  docs/sphinx/using/cudaq/platform.rst
  docs/sphinx/using/cudaq/verbose_out.rst
Labels: documentation

#926 [Docs] Enhancement to the 'Defualt Simulator' section
  docs/sphinx/install.rst
  docs/sphinx/using/simulators.rst
Labels: documentation

#918 Lower the ctrl-swap operations to QIR.
  lib/Optimizer/CodeGen/LowerToQIR.cpp
  runtime/nvqir/NVQIR.cpp
  test/Quake-QIR/basic.qke
  test/Quake-QIR/veq_or_qubit_control_args.qke
Labels: enhancement

#940 [Docs] Python documentation update
  python/README.md
Labels: documentation

#942 Reduce GPU memory usage when using reset(q) in user programs
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cu
  unittests/qir/NVQIRTester.cpp
Labels: bug fix

#945 Update Python README to cover CUDA-aware MPI
  docs/sphinx/examples/python/bernstein_vazirani.py
  python/README.md
Labels: documentation, no release notes

#950 Simplify lambda expressions.
  runtime/cudaq/algorithms/observe.h
  runtime/cudaq/algorithms/sample.h
Labels: maintenance
