Repository NVIDIA/cuda-quantum, pull requests merged in 2023-09, with the labels that each got.

#692 Let the CUDA_QUANTUM_VERSION set as an environment variable have
  .github/workflows/docker_images.yml
  include/cudaq/Support/CMakeLists.txt
Labels: release notes

#696 Support Volta+ arch in custatevec backend
  .github/workflows/publishing.yml
  CMakeLists.txt
Labels: release notes, bug fix

#705 Update documentation to clarify LLVM version requirements
  Building.md
Labels: documentation

#714 Add more support for std::vector and (C style) arrays.
  include/cudaq/Frontend/nvqpp/ASTBridge.h
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Frontend/nvqpp/ConvertType.cpp
  test/AST-Quake/array.cpp
  test/AST-error/array.cpp
Labels: enhancement

#718 Follow up to #708 - replace line number references with tags
  docs/sphinx/snippets/cpp/using/cudaq/platform/observe_mqpu.cpp
  docs/sphinx/snippets/cpp/using/cudaq/platform/observe_mqpu_mpi.cpp
  docs/sphinx/snippets/cpp/using/cudaq/platform/sample_async.cpp
  docs/sphinx/snippets/python/using/cudaq/platform/observe_mqpu.py
  docs/sphinx/snippets/python/using/cudaq/platform/observe_mqpu_mpi.py
  docs/sphinx/snippets/python/using/cudaq/platform/sample_async.py
  docs/sphinx/using/cudaq/platform.rst
Labels: documentation

#707 Document GPU and CPU requirements.
  docs/sphinx/install.rst
Labels: documentation

#660 Add exp_pauli quantum instruction to the runtime and ASTBridge
  .gitignore
  docs/sphinx/api/languages/python_api.rst
  docs/sphinx/conf.py
  include/cudaq/Frontend/nvqpp/ASTBridge.h
  include/cudaq/Optimizer/Dialect/CC/CCOps.td
  include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  lib/Frontend/nvqpp/ConvertDecl.cpp
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Frontend/nvqpp/ConvertType.cpp
  lib/Optimizer/CodeGen/LowerToQIR.cpp
  lib/Optimizer/Dialect/CC/CCTypes.cpp
  python/runtime/cudaq/builder/py_kernel_builder.cpp
  python/runtime/cudaq/spin/py_spin_op.cpp
  python/tests/unittests/test_kernel_builder.py
  runtime/cudaq/builder/kernel_builder.cpp
  runtime/cudaq/builder/kernel_builder.h
  runtime/cudaq/domains/chemistry/uccsd.h
  runtime/cudaq/qis/execution_manager.h
  runtime/cudaq/qis/managers/BasicExecutionManager.h
  runtime/cudaq/qis/managers/default/DefaultExecutionManager.cpp
  runtime/cudaq/qis/qubit_qis.h
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/NVQIR.cpp
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cu
  runtime/nvqir/qpp/QppCircuitSimulator.cpp
  test/AST-Quake/exp-pauli-1.cpp
  test/AST-Quake/exp-pauli-2.cpp
  test/AST-Quake/exp-pauli-3.cpp
  test/Quake-QIR/exp-pauli-qir-1.qke
  test/Quake-QIR/exp-pauli-qir-2.qke
  test/Quake-QIR/exp-pauli-qir-3.qke
  test/Quake/roundtrip-ops.qke
  unittests/domains/ChemistryTester.cpp
  unittests/integration/builder_tester.cpp
  unittests/qudit/simple_qudit/SimpleQuditExecutionManager.cpp
Labels: enhancement
