Repository NVIDIA/cuda-quantum, pull requests merged in 2023-04, with the labels that each got.

#22 Temporary fix for AST visitor reentrancy bugs.
  lib/Frontend/nvqpp/ConvertDecl.cpp
  lib/Frontend/nvqpp/ConvertType.cpp
Labels: critical

#63 Optimization: do not add control qubits to compute/uncompute steps of compute_action idiom.
  include/cudaq/Optimizer/Transforms/Passes.h
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/Transforms/ApplyOpSpecialization.cpp
  test/AST-Quake/compute_action-1.cpp
  test/AST-Quake/compute_action-2.cpp
Labels: enhancement

#12 CircuitSimulator Refactor
  .gitignore
  python/runtime/cudaq/algorithms/py_observe.cpp
  python/tests/compiler/1q.py
  python/tests/compiler/adjoint.py
  python/tests/compiler/call.py
  python/tests/compiler/conditional.py
  python/tests/compiler/control.py
  python/tests/compiler/float.py
  python/tests/compiler/list.py
  python/tests/compiler/measure.py
  python/tests/compiler/mixed_args.py
  python/tests/compiler/multi_qubit.py
  python/tests/compiler/multiple_floats.py
  python/tests/compiler/no_input.py
  python/tests/compiler/qalloc.py
  python/tests/compiler/qreg_apply.py
  python/tests/compiler/test_kernel.py
  python/tests/unittests/test_observe.py
  runtime/common/ExecutionContext.h
  runtime/common/MeasureCounts.cpp
  runtime/cudaq/algorithms/observe.h
  runtime/cudaq/algorithms/sample.h
  runtime/cudaq/spin/spin_op.cpp
  runtime/cudaq/spin_op.h
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/Gates.h
  runtime/nvqir/NVQIR.cpp
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cu
  runtime/nvqir/qpp/QppCircuitSimulator.cpp
  runtime/nvqir/qpp/QppDMCircuitSimulator.cpp
  unittests/Optimizer/QuakeSynthTester.cpp
  unittests/backends/qpp_observe/CMakeLists.txt
  unittests/backends/qpp_observe/QPPObserveBackend.cpp
  unittests/integration/builder_tester.cpp
Labels: release notes
