Repository NVIDIA/cuda-quantum, pull requests merged in 2023-07, with the labels that each got.

#411 Disallow PySCF Plugin from modifying the current Target.
  python/runtime/cudaq/domains/plugins/CMakeLists.txt
  python/runtime/cudaq/domains/plugins/PySCFDriver.cpp
  python/utils/LinkedLibraryHolder.cpp
  runtime/cudaq/cudaq.cpp
Labels: critical, workshop

#415 Add mx/my checks to QuakeAddMetadata
  lib/Optimizer/Transforms/QuakeAddMetadata.cpp
  python/tests/compiler/conditional.py
  runtime/cudaq/builder/kernel_builder.cpp
Labels: critical, workshop

#414 Build system fixes to support building without Clang
  CMakeLists.txt
  lib/Optimizer/CodeGen/LowerToQIR.cpp
  python/CMakeLists.txt
  test/CMakeLists.txt
  tools/CMakeLists.txt
Labels: critical, workshop

#492 Improve MPI Finalize handling for CircuitSimulator subclasses
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/cudaq.cpp
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/NVQIR.cpp
Labels: critical

#494 Add options to the loop unrolling pass pipeline.
  include/cudaq/Optimizer/Transforms/Passes.h
  lib/Optimizer/Transforms/LoopUnroll.cpp
Labels: enhancement
