Repository NVIDIA/cuda-quantum, pull requests merged in 2023-10, with the labels that each got.

#716 Document CUDA library dependencies for python wheel
  docs/sphinx/api/languages/python_api.rst
  docs/sphinx/install.rst
  docs/sphinx/releases.rst
  docs/sphinx/using/simulators.rst
  pyproject.toml
  python/README.md
Labels: documentation

#734 Fix docs formatting
  docs/sphinx/install.rst
Labels: maintenance

#735 Fixing docs formatting
  docs/sphinx/install.rst
Labels: maintenance

#724 Refactor Base Profile code in preparation for Adaptive Profile
  docs/sphinx/using/advanced/cudaq_ir.rst
  include/cudaq/Optimizer/CodeGen/Passes.h
  include/cudaq/Optimizer/CodeGen/Passes.td
  include/cudaq/Optimizer/CodeGen/Pipelines.h
  include/cudaq/Optimizer/CodeGen/QIRFunctionNames.h
  lib/Optimizer/CodeGen/CMakeLists.txt
  lib/Optimizer/CodeGen/LowerToQIRProfile.cpp
  python/runtime/cudaq/target/py_testing_utils.cpp
  python/runtime/cudaq/target/py_testing_utils.h
  runtime/common/RuntimeMLIR.cpp
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.cpp
  runtime/cudaq/platform/default/rest/helpers/ionq/IonQServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/ionq/ionq.config
  runtime/cudaq/platform/default/rest/helpers/oqc/oqc.config
  runtime/cudaq/platform/default/rest/helpers/quantinuum/quantinuum.config
  runtime/nvqir/NVQIR.cpp
  tools/cudaq-opt/cudaq-opt.cpp
  tools/cudaq-translate/cudaq-translate.cpp
  utils/mock_qpu/ionq/__init__.py
  utils/mock_qpu/oqc/__init__.py
  utils/mock_qpu/quantinuum/__init__.py
Labels: maintenance

#736 Add support for cudaq::range(N).
  include/cudaq/Optimizer/Builder/Intrinsics.h
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Frontend/nvqpp/ConvertStmt.cpp
  lib/Optimizer/Builder/CMakeLists.txt
  lib/Optimizer/Builder/Intrinsics.cpp
  lib/Optimizer/CodeGen/LowerToQIR.cpp
  lib/Optimizer/CodeGen/LowerToQIRProfile.cpp
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  test/AST-Quake/ranged_for.cpp
Labels: enhancement

#738 Clarifying how to invoke GPU-simulators from Python
  docker/release/cudaq.Dockerfile
  docs/sphinx/using/simulators.rst
  python/README.md
Labels: documentation

#712 Add Decomposition Pattern for quake.exp_pauli for remote QPU lowering
  include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  lib/Optimizer/Dialect/Quake/QuakeOps.cpp
  lib/Optimizer/Transforms/BasisConversion.cpp
  lib/Optimizer/Transforms/DecompositionPatterns.cpp
  python/tests/backends/test_Quantinuum_LocalEmulation.py
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.cpp
  test/Quake-QIR/callable.qke
  test/Quake-QIR/exp-pauli-qir-1.qke
  test/Quake-QIR/exp-pauli-qir-2.qke
  test/Transforms/DecompositionPatterns/ExpPauliToHRyRzCX.qke
Labels: enhancement

#744 Fix bug with unwind lowering.
  lib/Optimizer/Transforms/LowerUnwind.cpp
  test/Quake/control_flow.qke
Labels: bug fix

#746 Make unwind lowering of scopes less conservative.
  lib/Optimizer/Transforms/LowerUnwind.cpp
  test/AST-Quake/control_flow.cpp
  test/Quake/control_flow.qke
Labels: enhancement

#752 Fix bug when rewriting measurement type ops.
  lib/Optimizer/Transforms/MemToReg.cpp
  lib/Optimizer/Transforms/RegToMem.cpp
Labels: bug fix

#764 Move unwind lowering to early in the pipeline and remodel memtoreg pass
  lib/Optimizer/Dialect/CC/CCOps.cpp
  lib/Optimizer/Transforms/MemToReg.cpp
  test/AST-Quake/to_qir.cpp
  test/Quake/memtoreg-4.qke
  tools/nvqpp/nvq++.in
Labels: enhancement, bug fix

#741 Add Support for the QIR Adaptive Profile
  include/cudaq/Optimizer/CodeGen/Peephole.h
  include/cudaq/Optimizer/CodeGen/Peephole.td
  include/cudaq/Optimizer/CodeGen/QIRFunctionNames.h
  lib/Optimizer/CodeGen/LowerToQIRProfile.cpp
  lib/Optimizer/Transforms/QuakeAddMetadata.cpp
  runtime/common/RuntimeMLIR.cpp
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.cpp
  runtime/cudaq/platform/default/rest/helpers/oqc/OQCServerHelp.cpp
  runtime/cudaq/platform/default/rest/helpers/quantinuum/quantinuum.config
  runtime/nvqir/NVQIR.cpp
  test/NVQPP/qir_test_cond_for_break.cpp
  test/NVQPP/qir_test_cond_for_loop-1.cpp
  test/NVQPP/qir_test_cond_for_loop-2.cpp
  test/NVQPP/qir_test_cond_for_loop-3.cpp
  test/NVQPP/qir_test_cond_for_loop-4.cpp
  test/NVQPP/qir_test_cond_for_loop-5.cpp
  test/NVQPP/qir_test_cond_for_loop-6.cpp
  test/NVQPP/qir_test_if_base.cpp
  test/NVQPP/qir_test_op1_after_measure.cpp
  test/NVQPP/qir_test_op2_after_measure.cpp
  test/NVQPP/qir_test_op3_after_measure.cpp
  test/NVQPP/qir_test_range_err_runtime.cpp
  test/NVQPP/qir_test_simple_cond-1.cpp
  test/NVQPP/qir_test_simple_cond-2.cpp
  test/NVQPP/qir_test_string_labels.cpp
  test/NVQPP/test-6.cpp
  test/NVQPP/testConditionalSample.cpp
  test/NVQPP/testIQPE_Conditionals.cpp
Labels: enhancement, release notes

#768 Extend the cc-loop-unroll pass.
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/Transforms/LoopAnalysis.cpp
  lib/Optimizer/Transforms/LoopAnalysis.h
  lib/Optimizer/Transforms/LoopNormalize.cpp
  lib/Optimizer/Transforms/LoopUnroll.cpp
  test/NVQPP/phase_estimation.cpp
  test/Quake/unroll_loop_with_break.qke
Labels: enhancement

#780 Identify incomplete processing in OQC server helper
  runtime/cudaq/platform/default/rest/helpers/oqc/OQCServerHelp.cpp
Labels: bug fix

#772 Implement the combine rotation peephole optimization.
  include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  lib/Optimizer/Dialect/Quake/QuakeOps.cpp
  test/Quake/merge_rotation.qke
Labels: enhancement

#794 Legalization error in basis conversion.
  lib/Optimizer/Transforms/BasisConversion.cpp
Labels: bug fix

#797 Pass name cleanup.
  include/cudaq/Optimizer/Transforms/Passes.h
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/Transforms/CMakeLists.txt
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  lib/Optimizer/Transforms/ObserveAnsatz.cpp
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.cpp
Labels: maintenance

#801 Make the UpdateRegisterNames pass an explicit module pass.
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/Transforms/LoopUnroll.cpp
Labels: maintenance

#811 Fix logical `&&` operator in `__qpu__` kernels
  lib/Frontend/nvqpp/ConvertExpr.cpp
  test/AST-Quake/if.cpp
Labels: bug fix

#747 Add ORCA backend
  docs/sphinx/examples/cpp/providers/orca.cpp
  runtime/cudaq/orca.h
  runtime/cudaq/platform/CMakeLists.txt
  runtime/cudaq/platform/orca/CMakeLists.txt
  runtime/cudaq/platform/orca/OrcaQPU.cpp
  runtime/cudaq/platform/orca/orca.config
  runtime/cudaq/platform/orca/orca_qpu.h
  scripts/validate_container.sh
Labels: enhancement

#807 Fix bug in loop normalization.
  lib/Optimizer/Transforms/LoopNormalize.cpp
  test/AST-Quake/loop_normal.cpp
Labels: bug fix

#815 Fix ternary operator in `__qpu__` kernels
  include/cudaq/Frontend/nvqpp/ASTBridge.h
  lib/Frontend/nvqpp/ConvertExpr.cpp
  test/AST-Quake/if.cpp
Labels: bug fix

#823 Refactor memtoreg.
  lib/Optimizer/Transforms/MemToReg.cpp
  test/Quake/memtoreg-5.qke
Labels: maintenance, bug fix

#824 Implement a loop peeling pass.
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/Transforms/CMakeLists.txt
  lib/Optimizer/Transforms/LoopPeeling.cpp
  test/Quake/loop_peeling.qke
Labels: enhancement

#841 Fix GKE bug for plain old functions with std::vector arguments.
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  test/Quake/kernel_exec-1.qke
  test/Quake/kernel_exec-2.qke
Labels: bug fix

#830 Enable while loop normalization and unrolling
  lib/Optimizer/Transforms/LoopAnalysis.cpp
  lib/Optimizer/Transforms/LoopNormalize.cpp
  lib/Optimizer/Transforms/LoopUnroll.cpp
  test/AST-Quake/loop_unroll-2.cpp
  test/AST-Quake/loop_unroll-3.cpp
  test/NVQPP/test-6.cpp
Labels: enhancement
