Repository NVIDIA/cuda-quantum, pull requests merged in 2024-08, with the labels that each got.

#2003 [docs] Restructure visualization tutorial - includes Bloch sphere demo
  docs/sphinx/examples/python/tutorials/visualization.ipynb
  docs/sphinx/using/examples/examples.rst
  docs/sphinx/using/examples/quantum_operations.rst
Labels: documentation

#2041 [docs] Extend the visualization tutorial with LaTeX example
  docs/sphinx/examples/python/tutorials/images/circuit_pdf.png
  docs/sphinx/examples/python/tutorials/visualization.ipynb
Labels: documentation

#2046 [NFC] [Python] Code clean-up
  python/cudaq/kernel/analysis.py
  python/cudaq/kernel/kernel_decorator.py
Labels: maintenance, no release notes

#1990 New Tutorial - Divisive Clustering
  .github/workflows/config/spelling_allowlist.txt
  .github/workflows/python_wheels.yml
  docs/notebook_validation.py
  docs/sphinx/examples/python/tutorials/Divisive_clustering.ipynb
  docs/sphinx/examples/python/tutorials/divisive_clustering_src/divisive_clustering.py
  docs/sphinx/examples/python/tutorials/divisive_clustering_src/main_divisive_clustering.py
  docs/sphinx/using/tutorials.rst
Labels: documentation

#2063 Add `get_state_async` examples to the `mqpu` platform docs
  docs/sphinx/using/backends/platform.rst
Labels: documentation

#2077 Follow-up to #1603 - fix `kronprod` bug occurring with Nvidia simulators
  python/tests/builder/test_qalloc_init.py
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cu
  unittests/integration/get_state_tester.cpp
Labels: bug fix

#1972 Update Hadamard test tutorial
  docs/sphinx/examples/python/tutorials/hadamard_test.ipynb
Labels: documentation

#1997 Quantum Filter diagonalization
  docs/sphinx/examples/python/tutorials/H2-MRQKS.ipynb
  docs/sphinx/using/tutorials.rst
Labels: documentation

#2127 Update quantum_operations.rst for missing ket vector notation
  docs/sphinx/using/examples/quantum_operations.rst
Labels: documentation

#2070 Added notebooks on Shor's algorithm
  .github/workflows/docker_images.yml
  docs/sphinx/examples/python/tutorials/Shors.ipynb
  docs/sphinx/examples/python/tutorials/images/shor_circuit.png
  docs/sphinx/using/tutorials.rst
Labels: documentation

#2148 [Python] [custom op] Improve error handling
  python/cudaq/kernel/register_op.py
  python/tests/custom/test_custom_operations.py
Labels: bug fix, python-lang

#2172 New tutorial: unitary compilation using diffusion models
  docker/build/devdeps.Dockerfile
  docs/sphinx/examples/python/tutorials/images/circuit_encoding.png
  docs/sphinx/examples/python/tutorials/images/pipeline_simplified.png
  docs/sphinx/examples/python/tutorials/unitary_compilation.ipynb
  docs/sphinx/using/tutorials.rst
Labels: documentation

#2178 Updates to Shor's algorithm notebook
  docs/sphinx/examples/python/tutorials/Shors.ipynb
Labels: documentation
