Repository NVIDIA/cuda-quantum, pull requests merged in 2024-10, with the labels that each got.

#2217 [custom op] Two-qubit operation synthesis
  lib/Optimizer/Transforms/CMakeLists.txt
  lib/Optimizer/Transforms/UnitarySynthesis.cpp
  python/tests/backends/test_IQM.py
  python/tests/backends/test_IonQ.py
  python/tests/backends/test_OQC.py
  python/tests/backends/test_Quantinuum_LocalEmulation_kernel.py
  python/tests/custom/test_euler_decomposition.py
  python/tests/custom/test_kak_decomposition.py
  targettests/execution/custom_operation_basic.cpp
  targettests/execution/custom_operation_toffoli.cpp
  test/Transforms/UnitarySynthesis/random_unitary_4.qke
  test/Transforms/UnitarySynthesis/random_unitary_5.qke
Labels: enhancement, ecosystem

#2253 Renaming qkernel_ref to qkernel per the spec.
  include/cudaq/Optimizer/Dialect/CC/CCTypes.td
  lib/Frontend/nvqpp/ConvertDecl.cpp
  runtime/cudaq/cudaq.cpp
  runtime/cudaq/qis/qkernel.h
  runtime/cudaq/qis/qubit_qis.h
  runtime/cudaq/utils/registry.h
  targettests/SeparateCompilation/basic.cpp
  targettests/SeparateCompilation/class.cpp
  targettests/SeparateCompilation/deduction_guide.cpp
  targettests/SeparateCompilation/emulate.cpp
  targettests/SeparateCompilation/lambda.cpp
  targettests/SeparateCompilation/multiple_callables.cpp
  targettests/execution/cudaq_observe.cpp
  test/AST-Quake/indirect_callable.cpp
Labels: language, RFC-approved, c++ language

#2205 ORCA asynchronous sampling
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/examples/cpp/providers/orca.cpp
  docs/sphinx/examples/python/providers/orca.py
  docs/sphinx/using/backends/hardware.rst
  python/extension/CMakeLists.txt
  python/extension/CUDAQuantumExtension.cpp
  runtime/cudaq/platform/orca/CMakeLists.txt
  runtime/cudaq/platform/orca/OrcaExecutor.cpp
  runtime/cudaq/platform/orca/OrcaExecutor.h
  runtime/cudaq/platform/orca/OrcaQPU.cpp
  runtime/cudaq/platform/orca/OrcaRemoteRESTQPU.cpp
  runtime/cudaq/platform/orca/OrcaRemoteRESTQPU.h
  runtime/cudaq/platform/orca/OrcaServerHelper.cpp
  runtime/cudaq/platform/orca/OrcaServerHelper.h
  runtime/cudaq/platform/orca/orca.yml
  runtime/cudaq/platform/orca/orca_qpu.h
Labels: enhancement, ecosystem

#2060 Random walk phase estimation example in Python #1579
  docs/sphinx/examples/python/random_walk_qpe.py
Labels: documentation

#2266 Fix argument passing issue in C++ bridge.
  lib/Frontend/nvqpp/ConvertExpr.cpp
  test/AST-Quake/vector_data_arg.cpp
Labels: c++ bridge

#2275 Fix mid-circuit measurement if reset follows measurement
  .github/workflows/config/gitlab_commits.txt
  runtime/common/MeasureCounts.cpp
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cpp
  runtime/nvqir/cutensornet/simulator_cutensornet.cpp
  runtime/nvqir/qpp/QppCircuitSimulator.cpp
  runtime/nvqir/stim/StimCircuitSimulator.cpp
  unittests/integration/builder_tester.cpp
Labels: bug fix, runtime

#2258 Noise modeling updates for Stim backend
  python/tests/builder/test_NoiseModel.py
  runtime/nvqir/stim/StimCircuitSimulator.cpp
  unittests/integration/noise_tester.cpp
Labels: enhancement

#2268 [core] Fix various bugs when processing the host-side functions and the
  docker/build/assets.Dockerfile
  include/cudaq/Optimizer/Builder/Factory.h
  lib/Optimizer/Builder/Factory.cpp
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  lib/Optimizer/Transforms/LiftArrayAlloc.cpp
  targettests/execution/auto_kernel-cpp17.cpp
  targettests/execution/auto_kernel.cpp
  test/AST-Quake/calling_convention.cpp
  test/AST-Quake/vector_int-1.cpp
  test/Quake-QIR/return_values.qke
  test/Quake/return_vector.qke
Labels: c++ bridge

#2278 [core] Add support for aarch64 calling conventions.
  lib/Optimizer/Builder/Factory.cpp
  test/AST-Quake/calling_convention-aarch64.cpp
Labels: c++ bridge

#2277 [core, runtime] Modify the launchers to support returning results.
  docs/sphinx/api/languages/cpp_api.rst
  lib/Optimizer/Builder/Intrinsics.cpp
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  lib/Optimizer/Transforms/LiftArrayAlloc.cpp
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/runtime/utils/PyRemoteSimulatorQPU.cpp
  runtime/common/BaseRemoteRESTQPU.h
  runtime/common/BaseRemoteSimulatorQPU.h
  runtime/common/KernelWrapper.h
  runtime/common/ThunkInterface.h
  runtime/cudaq/platform/default/DefaultQuantumPlatform.cpp
  runtime/cudaq/platform/mqpu/custatevec/GPUEmulatedQPU.cpp
  runtime/cudaq/platform/orca/OrcaQPU.cpp
  runtime/cudaq/platform/orca/OrcaRemoteRESTQPU.cpp
  runtime/cudaq/platform/orca/OrcaRemoteRESTQPU.h
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/platform/quantum_platform.h
  runtime/cudaq/qis/remote_state.cpp
  targettests/execution/vector_result.cpp
  test/Quake-QIR/argument.qke
  test/Quake-QIR/return_values.qke
  test/Quake/kernel_exec-1.qke
  test/Quake/kernel_exec-2.qke
  test/Quake/return_vector.qke
Labels: runtime

#2305 [testing] [fix] Follow-up to PR#2260
  docs/sphinx/targets/python/orca_mqpu.py
Labels: no release notes, testing

#2187 CUDA 12 installer and wheels
  .github/workflows/ci.yml
  .github/workflows/clean_caches.yml
  .github/workflows/clean_up.yml
  .github/workflows/config/ghcr_config.json
  .github/workflows/config/validation_config.json
  .github/workflows/create_cache_command.yml
  .github/workflows/delete_tags.yml
  .github/workflows/deployments.yml
  .github/workflows/dev_environment.yml
  .github/workflows/gh_registry.yml
  .github/workflows/integration_tests.yml
  .github/workflows/nvqc_regression_tests.yml
  .github/workflows/prebuilt_binaries.yml
  .github/workflows/publishing.yml
  .github/workflows/python_wheels.yml
  .github/workflows/test_in_devenv.yml
  docker/build/assets.Dockerfile
  docker/build/devdeps.manylinux.Dockerfile
  docker/release/cudaq.wheel.Dockerfile
  docker/release/installer.Dockerfile
  docker/test/installer/linux.Dockerfile
  docker/test/wheels/debian.Dockerfile
  docker/test/wheels/fedora.Dockerfile
  docker/test/wheels/opensuse.Dockerfile
  docker/test/wheels/redhat.Dockerfile
  docker/test/wheels/ubuntu.Dockerfile
  docs/sphinx/using/quick_start.rst
  pyproject.toml
  python/README-cu11.md
  python/README-cu12.md
  python/cudaq/__init__.py
  python/cudaq/kernel/kernel_builder.py
  python/cudaq/kernel/utils.py
  python/cudaq/kernels/uccsd.py
  python/cudaq/runtime/utils.py
  python/extension/CMakeLists.txt
  python/extension/CUDAQuantumExtension.cpp
  python/tests/builder/test_kernel_builder.py
  python/tests/kernel/test_ir_operations.py
  python/tests/kernel/test_kernel_complex.py
  python/tests/kernel/test_kernel_features.py
  python/tests/kernel/test_kernel_float.py
  python/tests/kernel/test_kernel_qvector_init.py
  python/tests/kernel/test_kernel_return.py
  python/tests/kernel/test_observe_kernel.py
  python/tests/kernel/test_sample_kernel.py
  python/tests/kernel/test_state_kernel.py
  python/tests/kernel/test_state_mps.py
  python/tests/kernel/test_vqe_kernel.py
  python/tests/remote/test_remote_code_exec.py
  scripts/configure_build.sh
  scripts/validate_wheel.sh
Labels: enhancement

#2333 CUDA 11 and CUDA 12 tags for Docker image and cuQuantum version update
  .github/workflows/deployments.yml
  .github/workflows/docker_images.yml
  .github/workflows/prebuilt_binaries.yml
  .github/workflows/python_wheels.yml
  docker/build/assets.Dockerfile
  docker/build/cudaq.dev.Dockerfile
  docker/build/devdeps.ext.Dockerfile
  docker/build/devdeps.manylinux.Dockerfile
  docker/build/devdeps.ompi.Dockerfile
  pyproject.toml
  scripts/configure_build.sh
Labels: breaking change
