Repository NVIDIA/cuda-quantum, pull requests merged in 2024-02, with the labels that each got.

#1179 Add SECURITY.md
  .github/workflows/config/spellcheck_config.yml
  .github/workflows/config/spelling_allowlist.txt
  SECURITY.md
Labels: documentation

#1027 Change `__global__` register bit ordering for target mode to match library mode
  .github/workflows/config/spelling_allowlist.txt
  docs/sphinx/specification/cudaq/algorithmic_primitives.rst
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/Transforms/Mapping.cpp
  lib/Optimizer/Transforms/ObserveAnsatz.cpp
  runtime/common/ExecutionContext.h
  runtime/common/MeasureCounts.cpp
  runtime/common/MeasureCounts.h
  runtime/common/ServerHelper.cpp
  runtime/common/ServerHelper.h
  runtime/cudaq/platform/default/rest/Executor.cpp
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.cpp
  runtime/cudaq/platform/default/rest/helpers/ionq/IonQServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/iqm/IQMServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/oqc/OQCServerHelp.cpp
  runtime/cudaq/platform/default/rest/helpers/quantinuum/QuantinuumServerHelper.cpp
  runtime/nvqir/CircuitSimulator.h
  test/NVQPP/bug_qubit.cpp
  test/NVQPP/global_reg.cpp
  test/NVQPP/if_jit.cpp
  test/NVQPP/int8_t.cpp
  test/NVQPP/int8_t_free_func.cpp
  test/NVQPP/load_value.cpp
  test/NVQPP/mapping_test-1.cpp
  test/NVQPP/sudoku_2x2-1.cpp
  test/NVQPP/sudoku_2x2.cpp
  test/NVQPP/swap_gate.cpp
  test/NVQPP/variable_size_qreg.cpp
  test/Transforms/mapping_non_unitaries.qke
  test/Transforms/mapping_phased_rx.qke
  test/Transforms/mapping_qspan.qke
  test/Transforms/mapping_with_meas-1.qke
  unittests/backends/iqm/IQMTester.cpp
  utils/mock_qpu/quantinuum/__init__.py
Labels: bug fix

#1206 Kernel builder JIT cache optimizations
  python/runtime/cudaq/algorithms/py_observe.cpp
  python/runtime/cudaq/algorithms/py_sample.cpp
  python/runtime/cudaq/algorithms/py_state.cpp
  runtime/cudaq/builder/kernel_builder.cpp
Labels: performance

#1219 More GitHub actions updates to get rid of warnings
  .github/workflows/ci.yml
  .github/workflows/clean_up.yml
  .github/workflows/create_cache_command.yml
  .github/workflows/deployments.yml
  .github/workflows/dev_environment.yml
  .github/workflows/docker_images.yml
  .github/workflows/prebuilt_binaries.yml
  .github/workflows/publishing.yml
  .github/workflows/python_wheels.yml
  .github/workflows/test_in_devenv.yml
Labels: build

#1261 Optimize LLVM JIT for large circuits
  runtime/common/RuntimeMLIR.cpp
  runtime/cudaq/builder/kernel_builder.cpp
  tools/cudaq-qpud/CMakeLists.txt
  tools/cudaq-qpud/RestServerMain.cpp
Labels: performance

#1272 Minor updates for static analysis findings
  lib/Optimizer/Transforms/QuakeSynthesizer.cpp
  runtime/cudaq/distributed/builtin/mpi_comm_impl.cpp
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cu
Labels: no release notes

#1276 Count unique quake value extractions when possible, use for argument validation
  python/cudaq/kernel/kernel_builder.py
  python/cudaq/kernel/quake_value.py
  python/tests/builder/test_kernel_builder.py
Labels: python-lang

#1290 Optimize LLVM JIT for large circuits: apply #1261 to experimental/python
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
Labels: python-lang

#1277 Enforce observe spec adherence in python
  python/cudaq/runtime/observe.py
  python/runtime/cudaq/algorithms/py_observe_async.cpp
  python/tests/kernel/test_observe_kernel.py
Labels: python-lang

#1282 Move AST-to-MLIR compilation to the call operator.
  python/cudaq/__init__.py
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/kernel_builder.py
  python/cudaq/kernel/kernel_decorator.py
  python/runtime/cudaq/algorithms/py_observe_async.cpp
  python/runtime/cudaq/algorithms/py_sample_async.cpp
  python/runtime/cudaq/algorithms/py_state.cpp
  python/runtime/cudaq/algorithms/py_vqe.cpp
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/tests/kernel/test_kernel_features.py
Labels: python-lang

#1293 Fix bug where args were not validated and processed for sample_async
  python/runtime/cudaq/algorithms/py_sample_async.cpp
  python/runtime/cudaq/algorithms/py_vqe.cpp
  python/tests/kernel/test_kernel_features.py
Labels: python-lang

#1291 Follow-up to #1288 - fix integration test env usage
  .github/workflows/integration_tests.yml
Labels: no release notes

#1296 Better error checking for erroneous broadcast arguments
  python/cudaq/runtime/utils.py
  python/runtime/cudaq/algorithms/py_observe_async.cpp
  python/tests/kernel/test_observe_kernel.py
Labels: python-lang

#1286 Fix SymbolTable error with print statements
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernels/uccsd.py
  runtime/nvqir/NVQIR.cpp
Labels: python-lang

#1301 Implement improved error diagnostics for kernel_decorator and kernel_builder
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/kernel_builder.py
  python/cudaq/kernel/kernel_decorator.py
  python/cudaq/kernel/utils.py
  python/tests/kernel/test_kernel_features.py
Labels: python-lang

#1305 Bug bash grab bag fixes
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/kernel_decorator.py
  python/cudaq/kernel/utils.py
  python/cudaq/runtime/utils.py
  python/runtime/cudaq/algorithms/py_sample_async.cpp
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/tests/builder/test_kernel_builder.py
  python/tests/kernel/test_kernel_features.py
Labels: python-lang

#1300 [experimental/python] Added PyNvcfSimulatorQPU
  .github/workflows/integration_tests.yml
  docker/release/cudaq.nvqc.Dockerfile
  python/CMakeLists.txt
  python/runtime/utils/PyRemoteSimulatorQPU.cpp
  python/runtime/utils/PyRestRemoteClient.cpp
  runtime/common/GPUInfo.h
  runtime/common/JsonConvert.h
  runtime/cudaq/platform/default/rest_server/CMakeLists.txt
  runtime/cudaq/platform/default/rest_server/helpers/GPUInfo.cpp
  runtime/cudaq/platform/default/rest_server/helpers/RestRemoteClient.cpp
  runtime/cudaq/platform/default/rest_server/helpers/RestRemoteServer.cpp
  scripts/nvqc_proxy.py
Labels: python-lang
