Repository NVIDIA/cuda-quantum, pull requests merged in 2024-05, with the labels that each got.

#1591 [NFC] Remove the using namespace from the header file.
  runtime/common/BaseRemoteRESTQPU.h
  runtime/common/BaseRemoteSimulatorQPU.h
  runtime/common/BaseRestRemoteClient.h
  runtime/common/RuntimeMLIRCommonImpl.h
  runtime/cudaq/algorithms/optimizers/nlopt/nlopt-src/src/algs/stogo/global.h
  runtime/cudaq/algorithms/optimizers/nlopt/nlopt-src/src/algs/stogo/linalg.h
  runtime/nvqir/Gates.h
Labels: maintenance

#1493 Fix Python wheel installation issues (multiple subtlety linked items)
  .github/workflows/integration_tests.yml
  .github/workflows/publishing.yml
  docs/sphinx/using/backends/platform.rst
  python/README.md
  python/cudaq/__init__.py
  python/runtime/cudaq/target/py_runtime_target.cpp
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/cutensornet/simulator_mps_register.cpp
  scripts/validate_wheel.sh
  tools/cudaq-qpud/CMakeLists.txt
  tools/cudaq-qpud/cudaq-qpud.py
Labels: documentation, bug fix

#1613 publishing fix
  .github/workflows/publishing.yml
Labels: maintenance

#1645 Pin ARM's `-march` flag for OpenMPI build
  docker/build/devdeps.ompi.Dockerfile
  docs/sphinx/using/install/data_center_install.rst
  docs/sphinx/using/install/local_installation.rst
Labels: build

#1651 Update to cuquantum-cu11==24.03.0.post1
  docker/release/cudaq.wheel.Dockerfile
Labels: build, no release notes

#1621 [docs] Remove tensornet-mps limitation that is no longer accurate
  docs/sphinx/using/backends/simulators.rst
Labels: documentation

#1564 Remove mpi4py plugin that is no longer in use
  .github/workflows/python_wheels.yml
  .github/workflows/test_in_devenv.yml
  python/CMakeLists.txt
  python/runtime/cudaq/distributed/CMakeLists.txt
  python/runtime/cudaq/distributed/mpi_comm_impl.cpp
  runtime/cudaq/cudaq.cpp
Labels: maintenance

#1602 Use arch-specific pip requirements and update docs
  .github/workflows/publishing.yml
  pyproject.toml
  python/README.md
  python/cudaq/__init__.py
Labels: documentation, user experience

#1631 Update notebooks
  docs/sphinx/conf.py
  docs/sphinx/examples/python/tutorials/executing_circuits.ipynb
  docs/sphinx/examples/python/tutorials/hybrid_qnns.ipynb
  docs/sphinx/examples/python/tutorials/multi_gpu_workflows.ipynb
  docs/sphinx/examples/python/tutorials/noisy_simulations.ipynb
  docs/sphinx/examples/python/tutorials/quantum_bits.ipynb
  docs/sphinx/examples/python/tutorials/vqe.ipynb
Labels: no release notes

#1648 Update the terminology used in the names of type testing functions.
  include/cudaq/Optimizer/Dialect/Quake/QuakeOps.h
  include/cudaq/Optimizer/Dialect/Quake/QuakeTypes.h
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  lib/Optimizer/Transforms/Mapping.cpp
  lib/Optimizer/Transforms/RegToMem.cpp
Labels: maintenance

#1685 Use a more meaningful template argument name.
  runtime/cudaq/qis/managers/photonics/photonics_qis.h
Labels: maintenance

#1683 Fix banner so it isn't 81 columns.
  runtime/cudaq/qis/managers/photonics/PhotonicsExecutionManager.cpp
Labels: maintenance

#1693 [Bug-fix] [Python] Correctly handle 'break' within nested loops
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_kernel_features.py
Labels: bug fix

#1692 Allow math dialect to lower and run on NVQC
  lib/Optimizer/CodeGen/Pipelines.cpp
  lib/Optimizer/CodeGen/VerifyNVQIRCalls.cpp
  python/tests/remote/test_remote_platform.py
  runtime/common/BaseRestRemoteClient.h
  runtime/cudaq/platform/default/rest_server/helpers/RestRemoteServer.cpp
Labels: bug fix

#1697 [test] Add test for subtraction in Python kernel
  python/tests/kernel/test_kernel_features.py
Labels: no release notes

#1709 NVQC: Auto-select NCA ID based on API key
  runtime/common/BaseRestRemoteClient.h
  runtime/common/NvqcConfig.h
Labels: no release notes, NVQC

#1702 New tutorials
  docs/sphinx/examples/python/tutorials/hybrid_qnns.ipynb
  docs/sphinx/examples/python/tutorials/images/inverse_qft.png
  docs/sphinx/examples/python/tutorials/images/max-cut-illustration.png
  docs/sphinx/examples/python/tutorials/images/qaoa-circuit-layers.png
  docs/sphinx/examples/python/tutorials/images/qaoa-problem-kernel.png
  docs/sphinx/examples/python/tutorials/images/qft.png
  docs/sphinx/examples/python/tutorials/qaoa.ipynb
  docs/sphinx/examples/python/tutorials/quantum_fourier_transform.ipynb
  docs/sphinx/examples/python/tutorials/vqe.ipynb
  docs/sphinx/using/tutorials.rst
Labels: documentation

#1720 Reduce NVQC server log file clutter
  scripts/nvqc_proxy.py
Labels: maintenance, NVQC
