Repository NVIDIA/cuda-quantum, pull requests merged in 2024-07, with the labels that each got.

#1865 Use a single scratchpad for all tensornet operations
  runtime/nvqir/cutensornet/mps_simulation_state.cpp
  runtime/nvqir/cutensornet/mps_simulation_state.h
  runtime/nvqir/cutensornet/simulator_cutensornet.cpp
  runtime/nvqir/cutensornet/simulator_cutensornet.h
  runtime/nvqir/cutensornet/simulator_mps_register.cpp
  runtime/nvqir/cutensornet/simulator_tensornet_register.cpp
  runtime/nvqir/cutensornet/tensornet_state.cpp
  runtime/nvqir/cutensornet/tensornet_state.h
  runtime/nvqir/cutensornet/tn_simulation_state.cpp
  runtime/nvqir/cutensornet/tn_simulation_state.h
Labels: performance

#1878 [Bug-fix] [Python] Address scoping issue for `sample_async`
  python/runtime/cudaq/algorithms/py_sample_async.cpp
  python/tests/builder/test_observe.py
  python/tests/builder/test_sample.py
Labels: bug fix, python-lang

#1885 inverse_qft added
  docs/sphinx/examples/python/tutorials/quantum_fourier_transform.ipynb
Labels: documentation

#1444 Fix LLVM aarch64 relocation overflow
  docker/build/devdeps.Dockerfile
  tpls/customizations/llvm/llvm_pr71968_mod.diff
Labels: bug fix

#1919 [runtime] Fix bug with function declarations being dropped on the floor
  runtime/common/BaseRestRemoteClient.h
Labels: bug fix

#1940 [Bug-fix] [Python] Check arguments
  python/cudaq/kernel/ast_bridge.py
  python/tests/builder/test_kernel_builder.py
  python/tests/display/test_draw.py
  python/tests/kernel/test_kernel_features.py
  python/tests/synthesis/test_custom_operations.py
Labels: bug fix, python bridge

#1947 [refactoring] [C++] Clean-up for "generator" functions
  include/cudaq/Frontend/nvqpp/ASTBridge.h
  include/cudaq/Frontend/nvqpp/AttributeNames.h
  lib/Frontend/nvqpp/ASTBridge.cpp
  lib/Optimizer/Transforms/GenDeviceCodeLoader.cpp
  lib/Optimizer/Transforms/GenKernelExecution.cpp
Labels: no release notes

#1952 [Python] [AST Bridge] Correctly distinguish measurement result and boolean variable
  python/cudaq/kernel/ast_bridge.py
  python/tests/mlir/bool_var_scope.py
  python/tests/mlir/bug_1777.py
Labels: bug fix, python bridge

#1962 [Bug-fix] [Python] Address issue#1775: Copying measurement variable inside `cudaq.kernel` causes issues
  python/cudaq/kernel/analysis.py
  python/cudaq/kernel/ast_bridge.py
  python/tests/mlir/ast_conditionals.py
  python/tests/mlir/bool_var_scope.py
  python/tests/mlir/bug_1775.py
  python/tests/mlir/bug_1777.py
Labels: bug fix, python-lang

#1967 Fix #1957: accept pauli_word as an argument.
  lib/Frontend/nvqpp/ConvertExpr.cpp
  test/AST-Quake/pauli_word.cpp
Labels: c++ bridge

#1968 [Python] Enhancements to the custom operations feature
  python/cudaq/kernel/kernel_builder.py
  python/cudaq/kernel/register_op.py
  python/tests/custom/test_custom_operations.py
  python/tests/mlir/custom_op_builder.py
Labels: python-lang

#1971 [test] Fix a mangled CHECK line in test.
  test/AST-Quake/pauli_word.cpp
Labels: testing

#1993 [Bug-fix] handle use of indirect `adjoint` on a `control`
  lib/Optimizer/Transforms/ApplyOpSpecialization.cpp
  python/tests/mlir/bug_1871.py
  test/Quake/control_on_adjoint.qke
Labels: bug fix

#1994 [Bug-fix] [Python] Checking for mid circuit measurement
  python/cudaq/kernel/analysis.py
  python/tests/mlir/ast_conditionals.py
  python/tests/mlir/bug_1875.py
Labels: bug fix, python-lang

#1988 [NFC] merge two small tests running the same script into one file.
  test/AST-Quake/tuple-1.cpp
  test/AST-Quake/tuple-2.cpp
Labels: testing

#1964 [NFC] [devdeps] Enhance the development dependencies image by pre-installing regularly used tools
  docker/build/devdeps.Dockerfile
Labels: no release notes

#2007 Address static analysis findings
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cu
Labels: no release notes

#2012 [test] Follow-up to #1969 - set random seed in return_values.cpp test
  targettests/Remote-Sim/return_values.cpp
Labels: testing

#2009 Update cloudposse/github-action-matrix-outputs-read/write versions
  .github/workflows/ci.yml
  .github/workflows/create_cache_command.yml
  .github/workflows/deployments.yml
  .github/workflows/dev_environment.yml
  .github/workflows/publishing.yml
Labels: build, testing

#2013 Update remote-mqpu tests to cleanly abort during assertion checks
  targettests/Remote-Sim/args_parsing.cpp
  targettests/Remote-Sim/free_func-cpp17.cpp
  targettests/Remote-Sim/free_func.cpp
  targettests/Remote-Sim/get_state.cpp
  targettests/Remote-Sim/kernel_builder.cpp
  targettests/Remote-Sim/nested_vectors.cpp
  targettests/Remote-Sim/no_inline.cpp
  targettests/Remote-Sim/observe-cpp17.cpp
  targettests/Remote-Sim/observe.cpp
  targettests/Remote-Sim/observe_async-cpp17.cpp
  targettests/Remote-Sim/observe_async.cpp
  targettests/Remote-Sim/pauli_word.cpp
  targettests/Remote-Sim/remote_test_assert.h
  targettests/Remote-Sim/return_values.cpp
  targettests/Remote-Sim/sample-cpp17.cpp
  targettests/Remote-Sim/sample.cpp
  targettests/Remote-Sim/sample_async.cpp
  targettests/Remote-Sim/state_amplitude.cpp
  targettests/Remote-Sim/state_overlap.cpp
  targettests/Remote-Sim/unsupport_args.cpp
  targettests/Remote-Sim/vqe_h2.cpp
Labels: testing

#2029 [test] Update integration_test.yml to enable remote Python execution on server
  .github/workflows/integration_tests.yml
Labels: no release notes, testing

#2016 [docs] Document the API for custom operations
  .github/workflows/config/spelling_allowlist.txt
  docs/sphinx/api/default_ops.rst
  docs/sphinx/snippets/cpp/using/two_qubit_custom_op.cpp
  docs/sphinx/snippets/python/using/examples/two_qubit_custom_op.py
Labels: documentation

#2034 Update mgpu commit hash for two bugfixes
  .github/workflows/config/gitlab_commits.txt
Labels: no release notes

#2025 Fix a discrepancy in overlap calculation
  python/tests/remote/test_remote_platform.py
  runtime/common/SimulationState.h
  runtime/cudaq/qis/state.h
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cu
  runtime/nvqir/custatevec/CuStateVecState.h
  runtime/nvqir/cutensornet/mps_simulation_state.cpp
  runtime/nvqir/cutensornet/tn_simulation_state.cpp
  runtime/nvqir/qpp/QppCircuitSimulator.cpp
  unittests/integration/get_state_tester.cpp
Labels: bug fix
