Repository NVIDIA/cuda-quantum, pull requests merged in 2024-01, with the labels that each got.

#1085 Add documentation and test for mixed language project.
  .github/workflows/config/spelling_allowlist.txt
  docs/sphinx/using/advanced.rst
  docs/sphinx/using/advanced/cuda_gpu.rst
  test/MixedLanguage/cuda-1.cpp
  test/MixedLanguage/cuda-1.cu
  test/lit.site.cfg.py.in
Labels: documentation

#1109 Add a reference to the Quick Start Guide.
  docs/sphinx/using/advanced/cuda_gpu.rst
Labels: documentation

#1095 MPI plugin docs
  docs/sphinx/install.rst
Labels: documentation

#1119 Fix an oversight in MultiGPU code refactor
  runtime/cudaq/platform/mqpu/MultiQPUPlatform.cpp
Labels: bug, critical

#1152 Don't throw fatal exception during 'import cudaq' if missing dependencies
  python/utils/LinkedLibraryHolder.cpp
Labels: bug fix
