Repository NVIDIA/cuda-quantum, pull requests merged in 2024-03, with the labels that each got.

#1317 Pylance stopgap
  docs/sphinx/examples/python_mlir/intro.py
  python/cudaq/qis/__init__.py
  python/cudaq/qis/qis.py
Labels: python-lang

#1324 Update mgpu commit hash
  .github/workflows/config/gitlab_commits.txt
Labels: no release notes

#1325 Fix for intermittent CI build failure.
  .github/workflows/test_in_devenv.yml
  lib/Optimizer/CAPI/CMakeLists.txt
Labels: no release notes

#1326 [Core] A rollup of misc bug fixes wrt argument and return values
  include/cudaq/Optimizer/Builder/Factory.h
  lib/Frontend/nvqpp/ASTBridge.cpp
  lib/Optimizer/Builder/Factory.cpp
  lib/Optimizer/Builder/Intrinsics.cpp
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  targettests/Kernel/signature-0.cpp
  targettests/Kernel/signature-1.cpp
  targettests/Kernel/signature-2.cpp
  targettests/Kernel/signature-3.cpp
  targettests/Kernel/signature-4.cpp
  targettests/Kernel/signature-5.cpp
  test/Quake-QIR/return_values.qke
Labels: bug fix

#1336 Disallow assignment to captured variables
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_kernel_features.py
Labels: python-lang

#1339 [clean-up] [docs] Remove dead code
  python/CMakeLists.txt
  python/CUDAQuantumExtension.cpp
  python/cudaq/kernel/quake_value.py
  python/cudaq/kernels/hwe.py
  python/cudaq/kernels/uccsd.py
  python/runtime/cudaq/builder/py_QuakeValue.cpp
  python/runtime/cudaq/builder/py_QuakeValue.h
  python/runtime/cudaq/kernels/py_chemistry.cpp
  python/runtime/cudaq/kernels/py_chemistry.h
  python/runtime/cudaq/kernels/py_common_kernels.cpp
  python/runtime/cudaq/kernels/py_common_kernels.h
Labels: no release notes

#1347 Add support for vector<int64_t>, vector<int32_t>, and vector<float>
  lib/Optimizer/Transforms/QuakeSynthesizer.cpp
  runtime/cudaq/builder/kernel_builder.cpp
  runtime/cudaq/builder/kernel_builder.h
  unittests/Optimizer/QuakeSynthTester.cpp
Labels: bug fix

#1363 Fix spin-op deserialization bug when there is exactly 1 term
  python/tests/builder/test_SpinOperator.py
  python/tests/remote/test_remote_platform.py
  runtime/cudaq/spin/spin_op.cpp
Labels: bug fix

#1362 [Core] Fix a bug in folding of constants.
  lib/Optimizer/Dialect/CC/CCOps.cpp
Labels: bug fix

#1377 [docs] Document 'draw' functionality
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/api/languages/python_api.rst
  python/runtime/cudaq/algorithms/py_draw.cpp
  runtime/cudaq/algorithms/draw.cpp
  runtime/cudaq/algorithms/draw.h
Labels: documentation, no release notes

#1386 Fix a few Python notebook examples for release
  docs/sphinx/examples/python/tutorials/hybrid_qnns.ipynb
  docs/sphinx/examples/python/tutorials/vqe.ipynb
Labels: documentation, no release notes, python-lang

#1295 MLIR updates for python examples
  docs/sphinx/api/default_ops.rst
  docs/sphinx/examples/python/advanced_vqe.py
  docs/sphinx/examples/python/bernstein_vazirani.py
  docs/sphinx/examples/python/cuquantum_backends.py
  docs/sphinx/examples/python/expectation_values.py
  docs/sphinx/examples/python/intro.py
  docs/sphinx/examples/python/multi_controlled_operations.py
  docs/sphinx/examples/python/noise_amplitude_damping.py
  docs/sphinx/examples/python/noise_bit_flip.py
  docs/sphinx/examples/python/noise_depolarization.py
  docs/sphinx/examples/python/noise_kraus_operator.py
  docs/sphinx/examples/python/noise_phase_flip.py
  docs/sphinx/examples/python/providers/ionq.py
  docs/sphinx/examples/python/providers/iqm.py
  docs/sphinx/examples/python/providers/nvqc_vqe.py
  docs/sphinx/examples/python/providers/oqc.py
  docs/sphinx/examples/python/providers/quantinuum.py
  docs/sphinx/examples/python/qaoa_maxcut.py
  docs/sphinx/examples/python/simple_vqe.py
  docs/sphinx/examples/python/tutorials/cost_minimization.ipynb
  docs/sphinx/examples/python/tutorials/deutschs_algorithm.ipynb
  docs/sphinx/examples/python/tutorials/executing_circuits.ipynb
  docs/sphinx/examples/python/tutorials/hybrid_qnns.ipynb
  docs/sphinx/examples/python/tutorials/images/Bloch_sphere.png
  docs/sphinx/examples/python/tutorials/images/deutsch.png
  docs/sphinx/examples/python/tutorials/images/oracle.png
  docs/sphinx/examples/python/tutorials/multiple_qubits.ipynb
  docs/sphinx/examples/python/tutorials/noisy_simulations.ipynb
  docs/sphinx/examples/python/tutorials/quantum_bits.ipynb
  docs/sphinx/examples/python/tutorials/vqe.ipynb
  docs/sphinx/index.rst
  docs/sphinx/snippets/python/quick_start.py
  docs/sphinx/snippets/python/using/cudaq/platform/get_state_async.py
  docs/sphinx/snippets/python/using/cudaq/platform/observe_mqpu.py
  docs/sphinx/snippets/python/using/cudaq/platform/observe_mqpu_mpi.py
  docs/sphinx/snippets/python/using/cudaq/platform/sample_async.py
  docs/sphinx/snippets/python/using/cudaq/platform/sample_async_remote.py
  docs/sphinx/snippets/python/using/first_kernel.py
  docs/sphinx/snippets/python/using/first_observe.py
  docs/sphinx/snippets/python/using/first_sample.py
  docs/sphinx/using/backends/backends.rst
  docs/sphinx/using/basics/build_kernel.rst
  docs/sphinx/using/basics/run_kernel.rst
  docs/sphinx/using/examples/hardware_providers.rst
  docs/sphinx/using/examples/vqe.rst
  docs/sphinx/using/tutorials.rst
Labels: python-lang

#1334 [refactoring] Remove code duplication for nvcf client classes
  python/runtime/utils/PyRestRemoteClient.cpp
  runtime/common/BaseRestRemoteClient.h
  runtime/cudaq/platform/default/rest_server/helpers/RestRemoteClient.cpp
Labels: no release notes

#1424 Fix memory leak in CuStateVecCircuitSimulator.cu
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cu
Labels: bug fix

#1410 Fix Python handling of kernel list parameters
  python/cudaq/kernel/kernel_builder.py
  python/tests/builder/test_kernel_builder.py
Labels: python-lang

#1335 [refactoring] Remove code duplication for nvcf simulator classes
  docs/sphinx/api/languages/cpp_api.rst
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/runtime/utils/PyRemoteRESTQPU.cpp
  python/runtime/utils/PyRemoteSimulatorQPU.cpp
  runtime/common/ArgumentWrapper.h
  runtime/common/BaseRemoteSimulatorQPU.h
  runtime/cudaq/platform/mqpu/remote/RemoteSimulatorQPU.cpp
Labels: no release notes

#1417 [docs] Enhance Python docs
  docs/sphinx/api/languages/python_api.rst
  python/cudaq/kernel/kernel_builder.py
Labels: documentation

#1440 Fix issue with `spin_op` result retrieval
  python/tests/builder/test_observe.py
  runtime/common/ObserveResult.h
Labels: bug fix

#1441 Prevent usage of cmake 3.29.0 in Python wheel
  pyproject.toml
Labels: build

#1442 Fixing the signing issue
  .github/workflows/clean_up.yml
  .github/workflows/dev_environment.yml
  .github/workflows/docker_images.yml
  .github/workflows/prebuilt_binaries.yml
  .github/workflows/publishing.yml
  scripts/build_cudaq.sh
Labels: maintenance

#1445 Discard unneeded helper functions.
  include/cudaq/Optimizer/Builder/Factory.h
  lib/Optimizer/CodeGen/LowerToQIR.cpp
  lib/Optimizer/Transforms/DecompositionPatterns.cpp
Labels: maintenance
