Repository NVIDIA/cuda-quantum, pull requests merged in 2024-06, with the labels that each got.

#1751 Fix #1749 - bad cfg conversion
  lib/Optimizer/Transforms/LowerToCFG.cpp
  test/Quake/to_cfg.qke
Labels: bug fix

#1792 Set random seed in sampling for repeatability
  unittests/integration/qubit_allocation.cpp
Labels: build, no release notes

#1768 Fixes #1712: failures when using libc++
  lib/Frontend/nvqpp/ConvertDecl.cpp
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Frontend/nvqpp/ConvertType.cpp
  targettests/execution/sim_gate_timing-cpp17.cpp
  targettests/execution/sim_gate_timing.cpp
Labels: c++ bridge

#1802 Add a qalloc initialization test.
  test/Quake-QIR/qalloc_initialization.qke
Labels: testing

#1805 [driver] Add a new option, change names of flag options.
  targettests/Remote-Sim/args_synthesis.cpp
  targettests/Remote-Sim/no_inline.cpp
  targettests/execution/gen_device_code.cpp
  tools/nvqpp/nvq++.in
Labels: driver (nvq++)

#1796 Fix #1506
  docs/sphinx/examples/cpp/other/builder/builder.cpp
Labels: documentation

#1793 Fix #1705
  test/NVQPP/obj_file.cpp
  tools/nvqpp/nvq++.in
Labels: driver (nvq++)

#1795 Fix #1544
  test/NVQPP/pic_option.cpp
Labels: testing

#1832 Use `get_state.h` rather than the deprecated `state.h`
  docs/sphinx/examples/cpp/providers/nvqc_state.cpp
Labels: no release notes

#1846 Fix stack overflow when running with a large number of shots
  docs/sphinx/examples/cpp/basics/cuquantum_backends.cpp
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cu
Labels: bug fix

#1824 Fully Remote Execution for Python VQE and Optimizers
  .github/workflows/prebuilt_binaries.yml
  .github/workflows/python_wheels.yml
  docker/release/cudaq.nvqc.Dockerfile
  docs/sphinx/api/languages/cpp_api.rst
  include/cudaq/Support/Version.h.in
  pyproject.toml
  python/CMakeLists.txt
  python/CUDAQuantumExtension.cpp
  python/cudaq/kernel/analysis.py
  python/cudaq/kernel/kernel_decorator.py
  python/cudaq/runtime/utils.py
  python/runtime/cudaq/algorithms/py_optimizer.cpp
  python/runtime/cudaq/algorithms/py_utils.cpp
  python/runtime/cudaq/algorithms/py_utils.h
  python/runtime/cudaq/algorithms/py_vqe.cpp
  python/runtime/cudaq/spin/py_spin_op.cpp
  python/runtime/utils/PyRemoteSimulatorQPU.cpp
  python/tests/mlir/fix_1130_bug_bad_arg_checking.py
  python/tests/remote/test_remote_code_exec.py
  runtime/common/BaseRemoteSimulatorQPU.h
  runtime/common/BaseRestRemoteClient.h
  runtime/common/ExecutionContext.h
  runtime/common/JsonConvert.h
  runtime/common/RemoteKernelExecutor.h
  runtime/common/SerializedCodeExecutionContext.h
  runtime/cudaq/platform/default/rest_server/helpers/RestRemoteServer.cpp
  runtime/cudaq/platform/mqpu/MultiQPUPlatform.cpp
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/platform/quantum_platform.h
  runtime/cudaq/simulators.h
  runtime/cudaq/spin/spin_op.cpp
  runtime/cudaq/spin_op.h
  scripts/nvqc_proxy.py
  tools/cudaq-qpud/CMakeLists.txt
  tools/cudaq-qpud/RestServerMain.cpp
  tools/cudaq-qpud/cudaq-qpud.py
  tools/cudaq-qpud/json_request_runner.py
  tools/cudaq-qpud/nvqc_proxy.py
  unittests/utils/UtilsTester.cpp
Labels: enhancement, NVQC
