Repository NVIDIA/cuda-quantum, pull requests merged in 2024-04, with the labels that each got.

#1457 Fix issue where qubits are retained with draw / tracer
  python/tests/kernel/test_kernel_features.py
  runtime/cudaq/qis/managers/BasicExecutionManager.h
Labels: bug fix

#1458 PyASTBridge Fixes - Issues 1446-1451
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_kernel_features.py
Labels: bug fix

#1443 [Core] Remove the use of IndexType
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Frontend/nvqpp/ConvertStmt.cpp
  lib/Optimizer/Builder/Factory.cpp
  lib/Optimizer/CodeGen/LowerToQIR.cpp
  lib/Optimizer/Transforms/CombineQuantumAlloc.cpp
  lib/Optimizer/Transforms/ExpandMeasurements.cpp
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  lib/Optimizer/Transforms/LoopNormalize.cpp
  runtime/cudaq/builder/QuakeValue.cpp
  runtime/cudaq/builder/kernel_builder.cpp
  test/AST-Quake/adjoint-3.cpp
  test/AST-Quake/array.cpp
  test/AST-Quake/control_flow.cpp
  test/AST-Quake/qpe.cpp
  test/AST-Quake/ranged_for.cpp
  test/AST-Quake/ranged_for_qreg.cpp
  test/AST-Quake/reverse.cpp
  test/Quake-QIR/return_values.qke
Labels: maintenance

#1477 Port #1002 to nvidia-mgpu simulator
  .github/workflows/config/gitlab_commits.txt
Labels: performance

#1485 Fix wheel test Docker build failure (Fedora)
  docker/test/wheels/fedora.Dockerfile
Labels: build

#1503 [features/qalloc] Documentation.
  docs/sphinx/examples/cpp/other/builder/builder.cpp
  runtime/common/MeasureCounts.cpp
  runtime/common/MeasureCounts.h
  runtime/cudaq/host_config.h
  runtime/cudaq/platform/default/nvidia.config
  tools/nvqpp/nvq++.in
Labels: documentation

#1522 [devdeps] Build workaround for lack of h5py 3.11 aarch64 wheel
  docker/build/devdeps.Dockerfile
Labels: build

#1505 [docs] Add cudaq::range function.
  docs/sphinx/api/languages/cpp_api.rst
Labels: documentation

#1536 [Fix] Update the docker image link for stable releases
  docs/sphinx/releases.rst
  docs/sphinx/using/install/local_installation.rst
  docs/sphinx/using/quick_start.rst
Labels: documentation

#1527 Add comments to the newly added docs example
  docs/sphinx/examples/cpp/providers/nvqc_qml.cpp
Labels: documentation, no release notes

#1551 Support new scikit-build-core release
  docker/build/assets.Dockerfile
Labels: build

#1533 Update code comment in `JIT.h`
  runtime/common/JIT.h
Labels: no release notes

#1565 Split the remove measurements pass into its own source file.
  include/cudaq/Optimizer/CodeGen/Passes.h
  include/cudaq/Optimizer/CodeGen/Passes.td
  lib/Optimizer/CodeGen/CMakeLists.txt
  lib/Optimizer/CodeGen/LowerToQIRProfile.cpp
  lib/Optimizer/CodeGen/RemoveMeasurements.cpp
Labels: maintenance

#1569 Refactor verify NVQIR calls pass into a separate source file
  include/cudaq/Optimizer/CodeGen/Passes.td
  lib/Optimizer/CodeGen/CMakeLists.txt
  lib/Optimizer/CodeGen/LowerToQIRProfile.cpp
  lib/Optimizer/CodeGen/VerifyNVQIRCalls.cpp
Labels: maintenance

#1572 Optimize kernel mode for hybrid QNN test case
  python/cudaq/kernel/kernel_decorator.py
Labels: performance

#1567 Fix Pauli word conversion bug in `observe_async`
  python/tests/kernel/test_observe_kernel.py
  python/utils/OpaqueArguments.h
Labels: bug fix

#1578 [NFC] Rename a couple of files.
  lib/Optimizer/CodeGen/CMakeLists.txt
  lib/Optimizer/CodeGen/ConvertToQIR.cpp
  lib/Optimizer/CodeGen/ConvertToQIRProfile.cpp
Labels: maintenance

#1577 Refactor pipelines.
  include/cudaq/Optimizer/CodeGen/Pipelines.h
  lib/Optimizer/CodeGen/CMakeLists.txt
  lib/Optimizer/CodeGen/Pipelines.cpp
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  runtime/common/RuntimeMLIRCommonImpl.h
  tools/cudaq-translate/cudaq-translate.cpp
Labels: maintenance

#1574 [NFC] Code cleanup
  include/cudaq/Optimizer/Dialect/CC/CCOps.td
  python/runtime/cudaq/domains/plugins/PySCFDriver.cpp
  python/utils/LinkedLibraryHolder.cpp
  runtime/nvqir/CircuitSimulator.h
  tools/cudaq-quake/cudaq-quake.cpp
  tools/cudaq-translate/cudaq-translate.cpp
  tools/nvqpp/backendConfig.cpp
Labels: maintenance
