Repository NVIDIA/cuda-quantum, pull requests merged in 2024-12, with the labels that each got.

#2444 [testing] Update passing tests
  python/tests/backends/test_braket.py
Labels: no release notes, testing

#2451 Add support for logging matrices when running simulators
  runtime/nvqir/CircuitSimulator.h
Labels: no release notes

#2450 [testing] Skip Python tests if dependency package missing
  python/tests/operator/integrators/test_evolve_dynamics_torch_integrators.py
Labels: no release notes, testing

#2448 [docs] [testing] Follow-up for `braket` target and minor clean-up
  CMakeLists.txt
  docs/sphinx/using/examples/hardware_providers.rst
  runtime/common/BraketExecutor.h
  runtime/common/BraketServerHelper.h
  targettests/braket/sudoku_2x2-1.cpp
  targettests/braket/sudoku_2x2-bit_names.cpp
  targettests/braket/sudoku_2x2-reg_name.cpp
  targettests/braket/sudoku_2x2.cpp
  unittests/backends/braket/BraketTester.cpp
Labels: documentation, no release notes, testing

#2449 Update docs for stim target
  .github/workflows/config/spelling_allowlist.txt
  docs/sphinx/using/backends/simulators.rst
Labels: documentation

#2367 Fix wrong parameters in docs for Fermioniq backend
  docs/sphinx/using/backends/simulators.rst
Labels: documentation

#2038 Add unintentionally excluded tests to Publishing workflow
  .github/workflows/publishing.yml
Labels: no release notes, testing

#2464 Documentation for `infleqtion` target
  .github/workflows/config/spelling_allowlist.txt
  docs/sphinx/applications/python/logical_aim_sqale.ipynb
  docs/sphinx/targets/cpp/infleqtion.cpp
  docs/sphinx/targets/python/infleqtion.py
  docs/sphinx/using/applications.rst
  docs/sphinx/using/backends/backends.rst
  docs/sphinx/using/backends/hardware.rst
  docs/sphinx/using/examples/hardware_providers.rst
Labels: documentation

#2463 Fix a typo in the docs: mgpu -> mqpu
  docs/sphinx/using/backends/platform.rst
Labels: documentation

#2140 Document C++ API for get_state, sample and observe
  docs/sphinx/api/languages/cpp_api.rst
  runtime/cudaq/algorithms/observe.h
  runtime/cudaq/algorithms/sample.h
Labels: documentation

#2455 copy edits. Plus fixed deprecated backend cudaq.set_target("nvidia-mqpu")
  docs/sphinx/applications/python/hadamard_test.ipynb
  docs/sphinx/applications/python/krylov.ipynb
Labels: documentation

#2385 Make remote-mqpu auto-launcher aware of CUDAQ_DYNLIBS env var
  runtime/cudaq/platform/mqpu/helpers/MQPUUtils.cpp
Labels: bug fix

#2472 Fixes for Python notebooks
  docs/sphinx/applications/python/digitized_counterdiabatic_qaoa.ipynb
  docs/sphinx/applications/python/hadamard_test.ipynb
Labels: documentation, build, no release notes

#2475 Fix uninitialized memory issue for the result buffer in kron call
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cpp
Labels: bug fix

#2470 Updating docs version index
  .github/workflows/docker_images.yml
  docs/sphinx/applications/python/divisive_clustering_src/main_divisive_clustering.py
  docs/sphinx/applications/python/vqe_advanced.ipynb
  docs/sphinx/examples/python/building_kernels.ipynb
  docs/sphinx/examples/python/building_kernels.py
  docs/sphinx/examples/python/executing_kernels.ipynb
  docs/sphinx/releases.rst
Labels: no release notes

#2471 Convert static variable to a constexpr.
  lib/Optimizer/CodeGen/ConvertToQIRProfile.cpp
Labels: maintenance

#2469 Enable nightly integration tests for `infleqtion` target
  .github/workflows/integration_tests.yml
Labels: testing

#2308 Enable nightly integration tests for `anyon` target
  .github/workflows/integration_tests.yml
Labels: maintenance, testing

#2474 [test] Fix targettests for braket backend.
  targettests/execution/angled_gate.cpp
  targettests/execution/bug_qubit.cpp
  targettests/execution/callable_kernel_arg.cpp
  targettests/execution/cudaq_observe.cpp
  targettests/execution/custom_operation_adj.cpp
  targettests/execution/custom_operation_basic.cpp
  targettests/execution/graph_coloring-1.cpp
  targettests/execution/graph_coloring.cpp
  targettests/execution/if_jit.cpp
  targettests/execution/int8_t.cpp
  targettests/execution/int8_t_free_func.cpp
  targettests/execution/load_value.cpp
  targettests/execution/state_preparation.cpp
  targettests/execution/state_preparation_vector.cpp
  targettests/execution/state_preparation_vector_sizes.cpp
  targettests/execution/swap_gate.cpp
  targettests/execution/variable_size_qreg.cpp
Labels: testing

#2477 Add a yapf style config file.
  .style.yapf
Labels: python-lang

#2445 copy edits and removal of error message in Deutsch's algorithm
  docs/sphinx/applications/python/deutschs_algorithm.ipynb
Labels: documentation, no release notes

#2483 Adding 0.9.1 to the list of releases
  docs/sphinx/releases.rst
Labels: documentation, no release notes

#2419 Add ElementaryOpoerator.define override option
  python/cudaq/operator/expressions.py
Labels: python-lang
