Repository NVIDIA/cuda-quantum, pull requests merged in 2025-02, with the labels that each got.

#2606 [testing] Clean-up unit tests
  unittests/CMakeLists.txt
Labels: no release notes, testing

#2604 [testing] Fix for IQM mock server when generating sample results
  python/tests/backends/test_IQM.py
  utils/mock_qpu/iqm/__init__.py
Labels: no release notes, testing

#2618 [core] fix a couple of bugs with loop normalization and unrolling
  lib/Optimizer/Transforms/LiftArrayAllocPatterns.inc
  lib/Optimizer/Transforms/LoopAnalysis.cpp
  lib/Optimizer/Transforms/LoopAnalysis.h
  lib/Optimizer/Transforms/LoopNormalizePatterns.inc
  lib/Optimizer/Transforms/LoopUnroll.cpp
  lib/Optimizer/Transforms/LoopUnrollPatterns.inc
  lib/Optimizer/Transforms/LowerToCFGPatterns.inc
  lib/Optimizer/Transforms/WriteAfterWriteEliminationPatterns.inc
  targettests/execution/uccsd.cpp
  test/AST-Quake/infinite_loop.cpp
  test/AST-Quake/loop_normal.cpp
  test/Quake/loop_normalize.qke
Labels: bug fix

#2621 Fix #2620 - fixes a bug with the new QIR codegen.
  lib/Optimizer/CodeGen/ConvertToQIRAPI.cpp
  test/Quake/qir_api_branching.qke
Labels: bug fix

#2613 cuda_torchdiffeq_integrator.py: check if pytorch is built with cuda capabilities
  python/cudaq/operator/integrators/cuda_torchdiffeq_integrator.py
Labels: build

#2646 [docs] Correct table entries for CPU simulator precisions
  docs/sphinx/using/backends/simulators.rst
Labels: no release notes

#2648 [docs] Restore the docs for trajectory noisy simulators
  docs/sphinx/using/backends/sims/noisy.rst
  docs/sphinx/using/backends/simulators.rst
Labels: documentation, no release notes

#2630 Allow 'None' as a type annotation for cuda-q kernels
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/utils.py
  python/tests/kernel/test_kernel_call_return.py
  python/tests/kernel/test_kernel_features.py
Labels: bug fix

#2664 Fix decomposition patterns to handle spans of pauli words.
  lib/Optimizer/CodeGen/ConvertToQIRAPI.cpp
  lib/Optimizer/Transforms/DecompositionPatterns.cpp
  test/NVQPP/exp_pauli.cpp
Labels: bug fix
