Repository NVIDIA/cuda-quantum, pull requests merged in 2025-07, with the labels that each got.

#3151 Fix typos in docs
  docs/sphinx/using/integration/libraries.rst
  docs/sphinx/using/quick_start.rst
Labels: documentation

#3153 [run] [Python] Gracefully handle unsupported targets.
  python/tests/kernel/test_run_kernel.py
Labels: testing

#3163 [run] Improve error handling on unsupported targets
  python/runtime/cudaq/algorithms/py_run.cpp
  python/tests/handlers/test_photonics_kernel.py
  python/tests/kernel/test_run_kernel.py
  runtime/cudaq/algorithms/run.h
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/qis/managers/photonics/PhotonicsExecutionManager.cpp
Labels: no release notes

#3173 [run] [bug-fix] Asynchronous API requires proper handling of QPU ids
  python/runtime/cudaq/algorithms/py_run.cpp
  python/tests/remote/test_remote_platform.py
  runtime/common/RunTheKernel.cpp
  runtime/cudaq/algorithms/run.h
  targettests/Remote-Sim/cudaq_run_async.cpp
Labels: bug fix

#3172 [testing] [Python] Follow-up to PR#3163
  python/tests/parallel/test_mpi_mqpu.py
  python/tests/parallel/test_mqpu.py
Labels: testing

#3054 [Python] Expose noise model to the asynchronous sample API
  python/runtime/cudaq/algorithms/py_sample_async.cpp
  python/tests/builder/test_NoiseModel.py
Labels: enhancement, python-lang
