Repository NVIDIA/cuda-quantum, pull requests merged in 2025-03, with the labels that each got.

#2674 [orca] Skip unnecessary call and avoid error condition
  runtime/cudaq/platform/orca/OrcaRemoteRESTQPU.h
Labels: no release notes

#2695 Add documentation missing from #2632 initial pasqal integration
  docs/sphinx/targets/python/pasqal.py
  docs/sphinx/using/backends/hardware/neutralatom.rst
Labels: documentation

#2697 [core] Deprecate unneeded fatal error checker.
  include/cudaq/Optimizer/Transforms/Passes.h
  lib/Optimizer/Transforms/AggressiveEarlyInlining.cpp
  test/Quake/early_inline_prevented.qke
  test/Transforms/qir_base_profile.qke
Labels: bug fix

#2698 [core] Fix bug with exp_pauli lowering.
  lib/Optimizer/CodeGen/ConvertToQIRAPI.cpp
  test/Quake/exp_pauli-1.qke
Labels: bug fix

#2699 [CI] [Publishing] Skip NVQC tests
  .github/workflows/publishing.yml
Labels: no release notes

#2702 [docs] Follow-up to PR#2539
  docs/sphinx/using/backends/cloud/braket.rst
Labels: documentation

#2730 Adding dynamic curand dependency
  .github/workflows/deployments.yml
  .github/workflows/publishing.yml
  docker/build/assets.Dockerfile
  docker/build/devdeps.ext.Dockerfile
  docker/build/devdeps.manylinux.Dockerfile
  docker/release/cudaq.ext.Dockerfile
  docker/release/cudaq.wheel.Dockerfile
  docker/test/installer/runtime_dependencies.sh
  pyproject.toml
  python/cudaq/__init__.py
  scripts/configure_build.sh
Labels: no release notes

#2708 [testing] Add a runnable regression test for vector arguments.
  targettests/execution/vector-1.cpp
  test/AST-Quake/vector-0.cpp
Labels: testing

#2732 [testing] [Python] Fix issue#2641
  python/tests/kernel/test_explicit_measurements.py
Labels: bug fix

#2740 [docs] local_installation: add note about blackwell additional dependencies
  docs/sphinx/using/backends/dynamics.rst
  docs/sphinx/using/install/local_installation.rst
  docs/sphinx/using/quick_start.rst
Labels: documentation
