Repository NVIDIA/cuda-quantum, pull requests merged in 2025-06, with the labels that each got.

#2978 [docs] Simplify the template for target-specific lowering pipeline with most commonly used passes
  docs/sphinx/using/extending/backend.rst
Labels: documentation

#2977 [C++] Drop library mode support in remote simulators
  .github/workflows/integration_tests.yml
  .github/workflows/nvqc_regression_tests.yml
  python/runtime/cudaq/algorithms/py_sample_async.cpp
  python/runtime/cudaq/algorithms/py_state.cpp
  runtime/common/BaseRestRemoteClient.h
  runtime/common/KernelWrapper.h
  runtime/cudaq/algorithms/evolve.h
  runtime/cudaq/algorithms/evolve_internal.h
  runtime/cudaq/algorithms/get_state.h
  runtime/cudaq/algorithms/gradient.h
  runtime/cudaq/algorithms/observe.h
  runtime/cudaq/algorithms/sample.h
  runtime/cudaq/platform/mqpu/remote-mqpu.yml
  targettests/Remote-Sim/args_parsing.cpp
  targettests/Remote-Sim/compile_errors.cpp
  targettests/Remote-Sim/custom_operation.cpp
  targettests/Remote-Sim/free_func-cpp17.cpp
  targettests/Remote-Sim/free_func.cpp
  targettests/Remote-Sim/get_state.cpp
  targettests/Remote-Sim/kernel_builder.cpp
  targettests/Remote-Sim/nested_vectors.cpp
  targettests/Remote-Sim/observe-cpp17.cpp
  targettests/Remote-Sim/observe.cpp
  targettests/Remote-Sim/observe_async-cpp17.cpp
  targettests/Remote-Sim/observe_async.cpp
  targettests/Remote-Sim/observe_h2.cpp
  targettests/Remote-Sim/sample-cpp17.cpp
  targettests/Remote-Sim/sample.cpp
  targettests/Remote-Sim/sample_async.cpp
  targettests/Remote-Sim/state_amplitude.cpp
  targettests/Remote-Sim/state_overlap.cpp
  targettests/Remote-Sim/state_to_host.cpp
  targettests/Remote-Sim/unsupport_args.cpp
  targettests/TargetConfig/RegressionValidation/remote-mqpu.config
Labels: maintenance, breaking change

#2913 Adding 0.11.0 to the list of releases
  docs/sphinx/releases.rst
Labels: no release notes

#2441 [cmake] Fix double installation of nvq++ libs.
  cmake/AddCUDAQ.cmake
Labels: build

#3005 Edit `CUDAQ_GLOBAL_INDEX_BITS` doc
  docs/sphinx/using/backends/sims/svsims.rst
Labels: documentation

#3038 Fix an issue with tensornet observe when the canonicalized `spin_op` doesn't span the entire qubit space
  docs/sphinx/examples/cpp/basics/cutensornet_backends_observe.cpp
  runtime/nvqir/cutensornet/tensornet_spin_op.inc
  unittests/integration/observe_result_tester.cpp
Labels: bug fix

#3050 [Python] Disallow returning `list` from CUDA-Q kernels for now
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_direct_call_return_kernel.py
  python/tests/kernel/test_run_kernel.py
Labels: python-lang

#3026 Ion Trap example
  docs/sphinx/examples/python/dynamics/ion_trap.py
Labels: documentation, UnitaryHack

#3071 [docs] [fix] Skip spell checker on `bash` code
  docs/sphinx/using/backends/hardware/photonic.rst
Labels: documentation
