Repository NVIDIA/cuda-quantum, pull requests merged in 2025-05, with the labels that each got.

#2764 Efficient matrix evaluation for bosons and fermions
  python/runtime/cudaq/operators/py_boson_op.cpp
  python/runtime/cudaq/operators/py_fermion_op.cpp
  python/tests/operator/test_boson_op.py
  python/tests/operator/test_fermion_op.py
  runtime/cudaq/boson_op.h
  runtime/cudaq/fermion_op.h
  runtime/cudaq/matrix_op.h
  runtime/cudaq/operators.h
  runtime/cudaq/operators/boson_op.cpp
  runtime/cudaq/operators/evaluation.cpp
  runtime/cudaq/operators/fermion_op.cpp
  runtime/cudaq/operators/handler.cpp
  runtime/cudaq/operators/helpers.cpp
  runtime/cudaq/operators/helpers.h
  runtime/cudaq/operators/matrix_op.cpp
  runtime/cudaq/operators/operator_leafs.h
  runtime/cudaq/operators/product_op.cpp
  runtime/cudaq/operators/spin_op.cpp
  runtime/cudaq/operators/sum_op.cpp
  runtime/cudaq/spin_op.h
  unittests/operators/manipulation.cpp
Labels: release notes

#2849 Update mgpu commit and doc for `CUDAQ_ENABLE_MEMPOOL`
  .github/workflows/config/gitlab_commits.txt
  docs/sphinx/using/backends/sims/svsims.rst
Labels: release notes

#2866 [CI] [testing] Update the validation script to use the new location of 'integrator' tests
  scripts/validate_pycudaq.sh
Labels: no release notes

#2868 [Python] [testing] Restore the symbolic link to `system_models.py` from the `integrators`
  python/tests/dynamics/integrators/system_models.py
Labels: no release notes, testing

#2884 [Testing] Fix noise channel test: use `p=0.75` for complete depolarizing channel
  docs/sphinx/examples/cpp/basics/noise_depolarization.cpp
  unittests/integration/noise_tester.cpp
Labels: no release notes, testing

#2898 [CI] [Testing] Follow-up to PR#2875
  .github/workflows/integration_tests.yml
Labels: testing

#2906 Fixing performance of the python bindings
  python/runtime/cudaq/operators/py_boson_op.cpp
  python/runtime/cudaq/operators/py_fermion_op.cpp
  python/runtime/cudaq/operators/py_matrix_op.cpp
  python/runtime/cudaq/operators/py_spin_op.cpp
  runtime/cudaq/operators/sum_op.cpp
Labels: bug fix

#2924 [docs] Add instructions for rebuild, testing, formatting etc.
  Developing.md
Labels: documentation

#2925 [nfc] Code formatting on Python test files
  python/tests/backends/test_QuEra.py
  python/tests/builder/test_observe.py
  python/tests/dynamics/system_models.py
  python/tests/dynamics/test_evolve_simulators.py
  python/tests/mlir/ast_elif.py
  python/tests/mlir/ast_list_init.py
  python/tests/mlir/ast_list_int.py
  python/tests/mlir/ast_qreg_slice.py
  python/tests/mlir/ghz.py
  python/tests/mlir/invalid_subrange.py
  python/tests/mlir/test_output_qir.py
  python/tests/mlir/test_output_translate_openqasm.py
  python/tests/mlir/test_output_translate_qir.py
  python/tests/operator/op_utils.py
  python/tests/operator/test_boson_op.py
  python/tests/operator/test_conversions.py
  python/tests/operator/test_fermion_op.py
  python/tests/operator/test_matrix_op.py
  python/tests/operator/test_scalar_op.py
  python/tests/operator/test_spin_op.py
  python/tests/utils/quake_filecheck_gen.py
  python/tests/visualization/test_draw.py
Labels: no release notes

#2703 docs/notebook_validation.py: update nbconvert logs
  docs/notebook_validation.py
Labels: maintenance
