Repository NVIDIA/cuda-quantum, pull requests merged in 2025-08, with the labels that each got.

#3302 Adding v0.12.0 to the list of releases
  .github/workflows/config/spelling_allowlist.txt
  docs/sphinx/releases.rst
Labels: documentation

#3327 Fix bug#3326: tensor wrapper needs to use global dimension map
  python/tests/dynamics/integrators/test_evolve_dynamics_torch_integrators.py
  python/tests/dynamics/system_models.py
  python/tests/dynamics/test_evolve_dynamics.py
  runtime/nvqir/cudensitymat/CuDensityMatCallbackConverter.cpp
  runtime/nvqir/cudensitymat/CuDensityMatOpConverter.cpp
  runtime/nvqir/cudensitymat/CuDensityMatOpConverter.h
Labels: bug fix

#3346 [Python] [bug-fix] Incorrect operand type conversion for some arithmetic operations
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_cast_kernel.py
Labels: bug fix, python bridge
