Repository NVIDIA/cuda-quantum, pull requests merged in 2025-01, with the labels that each got.

#2489 Support for float comparison in ASTBridge
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_ast_compare.py
  python/tests/mlir/ast_comparators.py
Labels: python bridge

#2496 [test] Fix evolve test repeatability issue
  python/tests/operator/test_evolve_simulators.py
Labels: testing

#2495 [C++] Add support for character literals to the C++ bridge.
  include/cudaq/Frontend/nvqpp/ASTBridge.h
  lib/Frontend/nvqpp/ConvertExpr.cpp
  test/AST-Quake/character_comparison.cpp
Labels: c++ bridge

#2516 Fix a bug in tensornet backend scratch pad allocation in multi-GPU mode
  runtime/nvqir/cutensornet/simulator_cutensornet.cpp
  runtime/nvqir/cutensornet/tensornet_utils.h
  unittests/CMakeLists.txt
  unittests/mpi/tensornet_mpi_tester.cpp
Labels: bug fix

#2518 [docs] Update the link to Python wheels
  docs/sphinx/using/backends/simulators.rst
  docs/sphinx/using/install/data_center_install.rst
  docs/sphinx/using/install/local_installation.rst
  docs/sphinx/using/quick_start.rst
Labels: documentation

#2519 Follow-up to #2501 - Update Python install instructions
  python/README.md.in
Labels: documentation

#2532 Follow-up to PR#2528: Make the newly added target test run conditionally
  targettests/quera/unsupported_arbitrary_kernel.cpp
Labels: no release notes, testing

#2555 [fix] [quera] Follow-up to PR#2528 which unintentionally broke the Python support
  python/tests/backends/test_QuEra.py
  runtime/cudaq/platform/quera/CMakeLists.txt
  utils/mock_qpu/__init__.py
  utils/mock_qpu/quera/__init__.py
Labels: no release notes

#2502 Improve photonics documentation
  .github/workflows/config/spelling_allowlist.txt
  docs/sphinx/api/default_ops.rst
  docs/sphinx/examples/python/executing_photonic_kernels.ipynb
  docs/sphinx/snippets/python/using/examples/annihilate_photonic_gate.py
  docs/sphinx/snippets/python/using/examples/beam_splitter_photonic_gate.py
  docs/sphinx/snippets/python/using/examples/create_photonic_gate.py
  docs/sphinx/targets/cpp/photonics_tbi_get_state.cpp
  docs/sphinx/targets/cpp/photonics_tbi_sample.cpp
  docs/sphinx/using/backends/simulators.rst
  docs/sphinx/using/examples/examples.rst
  docs/sphinx/using/examples/photonic_operations.rst
Labels: documentation
