Repository NVIDIA/cuda-quantum, pull requests merged in 2025-09, with the labels that each got.

#3427 [maintenance] Remove outdated regression tests
  targettests/CMakeLists.txt
  targettests/TargetConfig/RegressionValidation/anyon.config
  targettests/TargetConfig/RegressionValidation/density-matrix-cpu.config
  targettests/TargetConfig/RegressionValidation/ionq.config
  targettests/TargetConfig/RegressionValidation/iqm.config
  targettests/TargetConfig/RegressionValidation/nvidia-fp64.config
  targettests/TargetConfig/RegressionValidation/nvidia-mqpu-fp64.config
  targettests/TargetConfig/RegressionValidation/nvidia-mqpu-mps.config
  targettests/TargetConfig/RegressionValidation/nvidia-mqpu.config
  targettests/TargetConfig/RegressionValidation/nvidia.config
  targettests/TargetConfig/RegressionValidation/nvqc.config
  targettests/TargetConfig/RegressionValidation/oqc.config
  targettests/TargetConfig/RegressionValidation/orca-photonics.config
  targettests/TargetConfig/RegressionValidation/orca.config
  targettests/TargetConfig/RegressionValidation/qpp-cpu.config
  targettests/TargetConfig/RegressionValidation/quantinuum.config
  targettests/TargetConfig/RegressionValidation/remote-mqpu.config
  targettests/TargetConfig/check_compile.cpp
  targettests/TargetConfig/custom_sim/CMakeLists.txt
  targettests/TargetConfig/custom_sim/custom-sim.config
Labels: no release notes, testing

#3452 [Python] Make sample API spec compliant
  python/cudaq/runtime/sample.py
  python/runtime/cudaq/algorithms/py_sample_async.cpp
  python/tests/kernel/test_kernel_call_return.py
  python/tests/kernel/test_run_kernel.py
Labels: breaking change, python-lang

#3421 Update to Ubuntu 24.04 in CI
  .github/workflows/ci.yml
  .github/workflows/config/validation_config.json
  .github/workflows/create_cache_command.yml
  .github/workflows/deployments.yml
  .github/workflows/docker_images.yml
  .github/workflows/integration_tests.yml
  .github/workflows/nvqc_regression_tests.yml
  .github/workflows/publishing.yml
  .github/workflows/python_metapackages.yml
  .github/workflows/test_in_devenv.yml
  docker/build/assets.Dockerfile
  docker/build/cudaq.dev.Dockerfile
  docker/build/devdeps.Dockerfile
  docker/build/devdeps.ext.Dockerfile
  docker/build/devdeps.ompi.Dockerfile
  docker/release/cudaq.Dockerfile
  docker/release/cudaq.wheel.Dockerfile
  docker/test/wheels/ubuntu.Dockerfile
  docs/sphinx/applications/python/mps_encoding.ipynb
  docs/sphinx/applications/python/unitary_compilation_diffusion_models.ipynb
  docs/sphinx/using/install/data_center_install.rst
  docs/sphinx/using/install/local_installation.rst
  python/metapackages/pyproject.toml
  runtime/common/CodeGenConfig.h
  scripts/configure_build.sh
  scripts/install_toolchain.sh
  scripts/validate_pycudaq.sh
Labels: build, breaking change, ecosystem
